<h1>Reservations for <%= Date.today.strftime("%Y-%m-%d") %></h1>

<div class="barcode">
  <img src="<%= generate_barcode %>" alt="JAN Barcode">
</div>

<div class="reservation-info">
  <p>Total reservations today: <%= @current_reservations %> / 15</p>
  
  <% if @current_reservations < 15 %>
    <%= link_to "Make a Reservation", new_reservation_path, class: "reservation-button" %>
  <% else %>
    <p class="full-message">Sorry, we're fully booked for today.</p>
  <% end %>
</div>